Repository AzurAPI/azurapi-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint src --ext .ts --fix",
  "*.json": "prettier --write",
  "*.md": "prettier --write"
}

Make `api_ship` tests pass The rests of the tests will likely also be done the way `ships.test.js` is done with importing sample data and not the whole `.json` file.
  src/core/api/api_ship.ts
  tests/ship.test.js
Due: eslint src --ext .ts --fix

Missed this file – whups
  tests/test_ships.json
Due: prettier --write

Fix links in README
  README.md
Due: prettier --write

Add check for undefined query string in ships_api
  src/core/api/api_ship.ts
  tests/ship.test.js
Due: eslint src --ext .ts --fix

Add node-fetch
  package-lock.json
  package.json
Due: prettier --write

Add internal data file handling
  src/core/CacheUpdater.ts
  src/core/Data.ts
  src/core/UpdateChecker.ts
Due: eslint src --ext .ts --fix

Add working tests for `ships` api
  src/core/api/api.ts
  src/core/api/api_ship.ts
  tests/ship.test.js
Due: eslint src --ext .ts --fix

test code input
  src/core/api/api_chapter.ts
  src/types/chapter.ts
Due: eslint src --ext .ts --fix

slight error
  src/core/api/api_chapter.ts
  src/types/chapter.ts
Due: eslint src --ext .ts --fix

final ID implementation for chapter
  src/core/api/api_chapter.ts
  tests/chapter.test.js
Due: eslint src --ext .ts --fix

Add `ships.code()` to differentiate between same-name ships
  src/core/api/api_ship.ts
  tests/ship.test.js
  tests/test_ships.json
Due: eslint src --ext .ts --fix, prettier --write

(ships) Integrate new `code` function into `get`
  src/core/api/api.ts
  src/core/api/api_ship.ts
  tests/ship.test.js
  tests/test_ships.json
Due: eslint src --ext .ts --fix, prettier --write

(ships) `indexOf` instead of `includes` for `ships.code`
  src/core/api/api_ship.ts
Due: eslint src --ext .ts --fix

Make barrages test pass
  tests/barrage.test.js
  tests/test_barrages.json
Due: prettier --write

chore: re-add CNAME
  docs/CNAME
Due: none
